<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
        html, body {
            margin: 0;
            padding: 0 100px;
        }
        .columns-container {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        .clinics-column {
            display: flex;
            flex-direction: column;
        }
        .text {
            color: darkcyan;
            font-family: "Days One", sans-serif;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="columns-container">
        <div class="clinics-column">
            <p>Clinics:</p>
            <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Address</td>
                <td>Number</td>
            </tr>
            {{#each clinics}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.number}}</td>
                </tr>
            {{/each}}
            </table>
        </div>
        <a class="text" href="/api">Home</a>
    </div>
</body>
</html>
